// Place all the styles related to the TodoItems controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.delete_cross{
	display: inline-block;
	height: 20px;
	width: 20px;
	border-radius: 100%;
	background-color: gray;
	text-align: center;
	margin-left: 10px;
}

.delete_cross a {
	color: white;
}

.todos{
	padding-bottom: 20px;
	margin-right: 20px;
}

.form_edit {
	display: none;
}

.link_edit img {
	height: 20px;
	width: 20px;
	margin-left: auto;
	margin-right: auto;
  display: inline-block;
	text-align: center;
}

.wrap_menu{
	text-align: center;
	margin-left: 10px;
	display: none;
}


.edit_tag{
	height: 20px;
  display: inline-block;
	text-align: center;
	margin-left: 5px;
	margin-left: auto;
	margin-right: auto;
}

//style trix editor

trix-editor{
	min-height: 160px;
	background-color: white;
	border:0px;
}

#wrap-trix{
  background-color: white;
	padding-bottom: 0px;
	margin-bottom: 30px;
	border:1px solid #e0e0e0;
	border-radius: 5px;
}

span.button_group{
	border:0px;
}

span.button_group>button{
	border: 0px;
}

trix-toolbar .button_group button:not(:first-child){
	border: 0px;
}

trix-toolbar{
	display: block;
}

.button_groups{
	border-bottom: 1px solid #e0e0e0;
	display: block;
	padding-top:3px;
}

span.history_tools{
	float:right;
}
/*fin de style trix editor */

/*style des handle bars à coté des todos dans la todolist*/

span.handle, span.handle-list{
	cursor: move;
	color: #e0e0e0;
}

/*style des todo pendent qu'il sont triés */
.being-sorted {
	background-color: rgba(252,228,236,0.5);
	border-radius: 9px;
}
