// Place all the styles related to the todoLists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  background-color: #fce4ec ;
}

.total-content {
	background-color: white;
  margin-left: auto;
  margin-right: auto;
  width: 780px;
	border-radius: 10px;
	padding-top: 5%;
	padding-bottom: 5%;
}

#title-todolist{
	margin-bottom: 50px;
	text-align: center;
}

.content-todos-total{
  padding-left: 8%;
}

.todo-title{
	text-decoration: underline;
	text-decoration-color: #039be5;
	font-weight: bold;
	font-size: 20px;
}

#create-list{
  text-align: center;
}

.todo-title{
	font-size: 25px;
}

p.todo-desc {
	margin-top: 2px;
	margin-bottom: 5px;
	font-size: 1.2rem;
}

// style des texts area

input[type="text"].validate {
	height: 20px;
}

//style de la forme de saisie des todos

#task-form{
	border: 1px solid rgba(252,228,236,1);
	background-color: rgba(252,228,236,0.2);
	padding: 20px 20px 20px 20px;
	margin-left: -20px;
	margin-right: 40px;
	border-radius: 2px;
}

.form-todos{
	padding-left: 0px;
	padding-bottom: 25px;
}

.input-field.col.s6 {
	padding-left: 0px;
}

.input-field label[for= "todo_item_description"] {
	left: 0px;
}

//style de la div qui contient les todos dans l'index des todo lists

.content-todos{
	margin-top: 30px;
}
